<div class="dice-roll">
    <h4 class="desc">{{desc }}</h4>
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
        <h4 class="roll-result">{{result}}</h4>
    </div>
</div>
